#mapa{
    height: 40em;
}

.container .espacioBoton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5em auto;
}

#boton{
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: beige;
    font-weight: bold;
}